/* BODY STARTS BELOW */
body
{
    margin: 0;
    background-color: black;
}
/* BODY ENDS HERE */



/* NAVBAR STARTS BELOW */
.navigation-bar {
    overflow: hidden;
    background-color: black;
    border-bottom: 0.35vw solid #a14a95;
    height: 4vw;
}

.navMenuSelectable {
    font-family: sans-serif;
    float: right;
    color: #a14a95;
    text-align: center;
    margin-right: 2vw;
    margin-top: 1.6vw;
    text-decoration: none;
    font-size: 1.25vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */


}

.navMenuSelectable:hover {
    color: white;
    transition: 0.25s;
}


#logoText {
    color: #a14a95;
    text-decoration: none;
}

.navigation-bar h3 {
    font-family: X360, sans-serif;
    float: left;
    text-align: center;
    margin-top: 0.85vw;
    margin-left: -1.7vw;
    color: #a14a95;
    font-size: 2vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navigation-bar h3:hover {
    color: #a14a95;
}

#logo {
    float: left;
    color: white;
    margin-top: -0.75vw;
    padding-left: 0.7vw;
    width: 2.5vw;
    height: 2.5vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#logoFloat {
    float: left;
}

#facebookLogo {
    float: right;

    height: 2vw;
    width: 2vw;

    margin-right: -2.3vw;
    margin-top: -0.33vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#instagramLogo {
    float: right;

    height: 2vw;
    width: 2vw;

    margin-right: -2.05vw;
    margin-top: -0.33vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#youtubeLogo {
    float: right;

    height: 2vw;
    width: 2vw;

    margin-top: -0.33vw;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#backgroundSquare {
    margin-top: 1.4vw;
    margin-left: -8vw;
    margin-right: 2.05vw;
    height: 1.7vw;
    width: 5.5vw;
    background-color: #a14a95;
    float: right;
}
/* NAVBAR ENDS HERE */



/* FONT STARTS HERE */
@font-face {
    font-family: 'X360';
    src: url('X360.ttf')format('truetype');
}
/* FONT ENDS HERE */



/* BANNER (IMAGE) STARTS HERE */
#bannerText {
    animation: fadeInTitleAnimation ease 1.5s;
    animation-delay: 1s;
    visibility: hidden;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes fadeInTitleAnimation {
    0% {
        transform: translateY(2.5vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

#frostbiteBannerNameBackground {
    font-family: X360, sans-serif;
    text-align: center;
    font-size: 10vw;
    margin-top: -19.6vw;
    margin-left: -1vw;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#frostbiteBannerName {
    font-family: X360, sans-serif;
    text-align: center;
    font-size: 10vw;
    color: #a14a95;
    margin-top: -23vw;
}


@keyframes fadeInImageAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#frostbiteBackground {
    border-bottom: 0.35vw solid #a14a95;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    animation: fadeInImageAnimation ease 10s;
}
/* BANNER ENDS HERE */



/* "ABOUT US" SECTION STARTS HERE */
#aboutTitle {
    color: white;
    text-align: center;
    font-size: 2.5vw;
    margin-top: -0.5vw;
    margin-bottom: 0.7vw;
    font-family: sans-serif;
    letter-spacing: 0.03vw;
}

#aboutText {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.2vw;
    font-family: sans-serif;
    line-height: 1.9vw;

    padding-left: 22.5vw;
    padding-right: 22.5vw;
}

#aboutTextEnd {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.2vw;
    font-family: sans-serif;
    line-height: 1.9vw;

    padding-left: 22.5vw;
    padding-right: 22.5vw;
}

#aboutContainer {
    visibility: hidden;

    animation: fadeInTitleAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.alignInMiddle{
    text-align: center;
}
/* "ABOUT US" SECTION ENDS HERE */



/* SCROLL ANIMATION STARTS HERE */
.scrollFade {
    opacity: 1;
    pointer-events: all;
}
.scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
}
.scrollFade--visible {
    display: block;
    opacity: 1;
    pointer-events: all;
}
.scrollFade--animate {
    transition: opacity 0.4s ease-in-out;
}
/* SCROLL ANIMATION ENDS HERE */



/* FOOTER STARTS HERE */
#footer {
    padding: 2vw;
    margin-top: 5vw;
    text-align: center;
    background-color: black;
    color: white;
    border-top: 0.35vw solid #a14a95;

    visibility: hidden;

    animation: fadeInTitleAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.footerText{
    font-size: 1.2vw;
}

#emailLink {
    color: white;
    text-decoration: none;
}

#adminLogin {
    cursor: pointer;
    margin-left: 44vw;
    margin-right: 44vw;
}
/* FOOTER ENDS HERE */



/* ADMIN-CONTAINER STARTS HERE */
#adminContainer {
    display: none;
    background-color: black;
    margin-top: 7vw;
    height: 35vw;
    width: 15vw;

    position: fixed;
    z-index: 1;

    border-top: 0.35vw solid #a14a95;
    border-right: 0.35vw solid #a14a95;
    border-bottom: 0.35vw solid #a14a95;
    border-radius: 0.5vw;

    margin-left: -14vw;
    transition-duration: 0.5s;
}

#adminContainer:hover{
    margin-left: 0;
    transition-duration: 0.5s;
}

#adminTitle {
    text-align: center;
    color: #a14a95;
    font-size: 1.5vw;
    font-family: sans-serif;
}

#changeBackgroundImage {
    background-color: black;
    color: #a14a95;
    font-size: 1vw;
    border: 0.2vw solid #a14a95;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

#changeBackgroundImage:hover {
    cursor: pointer;
    border-color: white;
    color: white;
    transition-duration: 0.25s;
}

#logOutButton {
    background-color: black;
    color: #a14a95;
    font-size: 1vw;
    margin-top: 20vw;
    border: 0.2vw solid #a14a95;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

#logOutButton:hover {
    cursor: pointer;
    border-color: white;
    color: white;
    transition-duration: 0.25s;
}

#changeText {
    background-color: black;
    color: #a14a95;
    font-size: 1vw;
    width: 8.1vw;
    border: 0.2vw solid #a14a95;
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
}

#changeText:hover {
    cursor: pointer;
    border-color: white;
    color: white;
    transition-duration: 0.25s;
}
/* ADMIN-CONTAINER ENDS HERE */